body {
	background-color: #ec828e;
}
#main {
		  margin:0;
		  padding:20px 0 0;
		  text-align:center;
}
#main > div {
		  width: 300px;
		  height: 230px;
		  text-align:center;
		  display:inline-block;
		  padding:5px;
		  vertical-align: top;
}
.name {
		  margin:0 0 0.3rem;
		  font-weight: normal;
		  font-family: 'arial', cursive;
}
.img {
	width: 300px;
	height: 180px;
}

/* Overlay */

			#overlay {
				position: fixed;
				display: none;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0,0,0,0.9);
				z-index: 10005;
				cursor: pointer;
			}
			#overlay video{
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				margin: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				color: white;
				transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				text-align: center;
				width: 100%;
				height: 100%;
			}
			
